/* Reset the margin for the body and set the background image to cover the entire screen */
body {
    margin: 0;
    background-image: url(../Images/elevator.jpeg);
    background-size: cover; /* Ensure the image covers the entire screen */
    background-position: center; /* Center the background image */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Ensure full viewport height */
}

/* Center the header text at the top of the screen */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1 {
    margin: 0;
}

/* Styles for the License Plate Number input */
#licensePlate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 24px; /* Adjust font size as needed */
    color: #FF0000; /* Red color */
    margin-bottom: 10px; /* Space between h2 and input field */
}

.input-container {
    display: flex;
    align-items: center;
}

#licenseInput {
    margin: 10px 0;
    padding: 5px;
    font-size: 16px; /* Adjust font size as needed */
    width: 100%; /* Make the input take up the full width of its container */
}

/* Styles for the Submit button */
#licenseSubmitButton {
    background-color: #007BFF; /* Blue background color */
    color: #FFF; /* White text color */
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: none; /* Remove border */
    cursor: pointer; /* Change cursor on hover */
}
