body {
    margin: 0;
    background-image: url(../Images/elevator.jpeg);
    background-size: cover; 
    background-position: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
}

header {
    background-color: #333;
    color: #DAA520;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1 {
    margin: 0;
}

#licensePlate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px; 
}

h2 {
    font-size: 24px;
    color: #A52A2A; 
    margin-bottom: 5px; 
    margin-top: 0px; 
}

.input-container {
    display: flex;
    align-items: center;
}

#licenseInput {
    margin: 10px 0;
    padding: 5px;
    font-size: 16px;
    width: 100%;
}

#licenseSubmitButton {
    background-color: #007BFF;
    color: #FFF;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
