@import 'login.css';

/* Update the user_options-forms class to center the reset password form */

.user_options-forms {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    min-height: 300px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform .4s ease-in-out;
  }
  
  .user_options-forms .user_forms-reset {
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
  }
  
  .user_options-forms .forms_title {
    margin-bottom: 45px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: #e8716d;
    letter-spacing: .1rem;
  }
  
  .user_options-forms .forms_field:not(:last-of-type) {
    margin-bottom: 20px;
  }
  
  .user_options-forms .forms_field-input {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 6px 20px 6px 6px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: gray;
    letter-spacing: .1rem;
    transition: border-color .2s ease-in-out;
  }
  
  .user_options-forms .forms_field-input:focus {
    border-color: gray;
  }
  
  .user_options-forms .forms_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }
  
  .user_options-forms .forms_buttons-forgot {
    font-family: "Montserrat", sans-serif;
    letter-spacing: .1rem;
    color: #ccc;
    text-decoration: underline;
    transition: color .2s ease-in-out;
  }
  
  .user_options-forms .forms_buttons-forgot:hover {
    color: #b3b3b3;
  }
  
  .user_options-forms .forms_buttons-action {
    background-color: #e8716d;
    border-radius: 3px;
    padding: 10px 35px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    transition: background-color .2s ease-in-out;
  }
  
  .user_options-forms .forms_buttons-action:hover {
    background-color: #e14641;
  }
  
  @media screen and (max-width: 990px) {
    .user_options-forms {
      min-height: 350px;
    }
  
    .user_options-forms .forms_buttons {
      flex-direction: column;
    }
  
    .user_options-forms .user_forms-reset .forms_buttons-action {
      margin-top: 30px;
    }
  }

.forms_title {
    text-align: center;
}

.user_options-forms .forms_buttons {
    justify-content: center;
}

.forms_buttons-forgot {
  padding-right: 1rem;
}